[user]
	email = pingortle@gmail.com
	name = Kaleb Lape
[github]
	user = pingortle
[color]
	ui = auto
[hub]
[core]
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[alias]
	co = checkout
	co-master = !git fetch origin master && git checkout "$@" origin/master
	co-remote = !git fetch origin "$1" && git checkout "$1"
	coauth = !printf \"Co-authored-by: %s\" \"$(git log --pretty=format:'%an <%ae>' -1000 | sort | uniq | fzf)\"
	cob = checkout -b
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	ctags = !.git/hooks/ctags
	commit-date-short = !git commit -m \"$(date +%Y-%m-%d)\"
	commit-date = !git commit -m \"$(date)\"
	new = !~/.bin/git-new
	np = new pingortle
	cb = !git rev-parse --abbrev-ref HEAD | tr -d \"\\n\"
	branch-pr = !hub pr list --head=$(git cb)
	pp = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	revive = !git checkout $(git rev-list -n 1 HEAD -- \"$1\")^ \"$1\"
	roots = rev-list --max-parents=0 HEAD
	vim-since-base = !vim $(git diff-base --name-only)
	toplevel = rev-parse --show-toplevel
	dotgit = !echo \"$(git toplevel | tr -d \"\n\")\"/.git
	summarize = !git diff-base --compact-summary
	diff-base = !git diff $(git merge-base ${BASE_BRANCH:-origin/master} head)
	diff-conflicts = diff --diff-filter=U
	diff-modified = diff --diff-filter=M
	edit-branch = !$EDITOR $(git diff-base --name-only "$@")
	edit-conflicts = !$EDITOR $(git diff-conflicts --name-only)
	edit-modified = !$EDITOR $(git diff-modified --name-only "$@")
	ls-ignored = ls-files --cached --ignored --others --directory --exclude-standard
	ls-log = log --name-only --format=""
	statsu = status
	remaster = !git fetch origin master && git rebase origin/master
	romi = rebase origin/master -i
	mm = !git fetch origin master && git merge origin/master "$@"
[credential]
	helper = osxkeychain
[rebase]
	autoStash = true
	autosquash = true
[commit]
	verbose = true
[rerere]
	enabled = 1
	autoupdate = true
[push]
	default = current
