[submodule "rbenv/.rbenv/plugins/rbenv-default-gems"]
	path = rbenv/.rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "terminal/.iterm2-themes/iterm-two-firewatch"]
	path = terminal/.iterm2-themes/iterm-two-firewatch
	url = git@github.com:rakr/iterm-two-firewatch.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nodenv/.nodenv/plugins"]
	path = nodenv/.nodenv/plugins
	url = https://github.com/nodenv/nodenv-default-packages.git
